.container{
    background-color: aliceblue;
    display: flex;
    border: 2px solid black;

}
.child1{
    background-color: rgb(37, 206, 164);
    height: 102px;
    width: 102px;
}
.child2{
    background-color: blue;
    height: 102px;
        width: 102px;


}
.child3{
    background-color: brown;
    height: 102px;
        width: 102px;

}
.child4{
    background-color: blanchedalmond;
    height: 102px;
        width: 102px;

}